@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> L

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <DemoUserBar />
            <LanguageSelector />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@L["Layout_About"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    @L["ErrorUi_Unhandled"]
    <a href="." class="reload">@L["ErrorUi_Reload"]</a>
    <span class="dismiss">🗙</span>
</div>
